/* Eclipse Element */
.eclipse-element {
    width: 120px;
    height: 120px;
    background-color: var(--third-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--primary-color);
    animation: pulse 2s infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.eclipse-element:hover {
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}